
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	border-bottom: 1px solid black;
	margin: 0 0 20px 0;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.brackets-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.weights {
	margin-bottom: 10px;
}
.row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid black;
	padding: 5px;
}
.row input, .row p {
	margin: 0 5px;
}
.row p {
	width: 150px;
}
input[type=number] {
	width: 150px;
}
.orders-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.order-search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.input-field {
	margin-bottom: 10px;
}
.orders-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.order {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;
	padding: 5px;
}
.order p, .order-button {
	width: 150px;
}
.line {
	border: 1px solid black;
	width: 100%;
}
