
body {
	background-color: #222831;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	margin: 0 0 20px 0;
	background-color: #29A19C;
}
header h1 {
	color: #222831;
}
.customer-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 500px;
	padding: 20px;
	border-radius: 10px;
	background-color: #393E46;
	margin-bottom: 20px;
}
.input-field {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.input-field label {
	margin: 0 10px 0 0;
	color: #F2F0E6;
}
.items-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 0 0 20px 0;
	border-radius: 10px;
	width: 900px;
}
.item-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-section p, .items-section label {
	font-size: 18px;
}
#orange {
	background-color: #29A19C;
}
#grey {
	background-color: #393E46;
}
#orange p, #orange label {
	color: #222831;
}
#grey p, #grey label {
	color: #F2F0E6;
}